[submodule ".ai-framework"]
	path = .ai-framework
	url = git@github.com:dcorbattabla/ai-framework.git
[submodule "syncro-flutter"]
	path = syncro-flutter
	url = alexsalazararboleda@bitbucket.org-alexsalazararboleda:ballastlane/syncro-flutter.git
